{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<br />
<h1 align='center'><b>FIFA Stats APP</b></h1>
<br />
<br />
<br />

<h1 align='center'>Welcome to the FIFA World Cup 2022 Statistics web application!</h1>
<br />
<br />

<h2>In this application, you will find a wealth of data and statistics about the participating teams, players, and
    matches. You can view detailed team and player statistics, such as the number of goals scored, assists, yellow
    cards, and red cards. <br /> <br />
    FIFA World Cup 2022 Statistics web application also provides some interesting information about Qatar, the host of
    the tournament, and specially prepared infrastructure for the World Cup like stadiums. <br /> <br />
    Whether you are a die-hard soccer fan or just interested in the World Cup, this application has something for you.
    We hope you enjoy using it and learning more about the World Cup in Qatar.</h2>

{% endblock %}